$phone-width: 500px;
$tablet-width: 768px;
$desktop-width: 1024px;

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Inter:wght@300&display=swap");
* {
  border: 1px solid red;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: "bold";
}
.link {
  margin: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.hamburger {
  transition: 1s;
  cursor: pointer;
  position: relative;
  padding: 20px;

  &.open .hamburger-bar:nth-child(1) {
    transform: rotate(-45deg) translateX(-7px);
  }
  &.open .hamburger-bar:nth-child(2) {
    transform: translate(50px);
    opacity: 0;
  }
  &.open .hamburger-bar:nth-child(3) {
    transform: rotate(45deg) translateX(-6px);
  }

  .hamburger-bar {
    background-color: #333;
    width: 30px;
    height: 2px;
    margin: 3px;
    position: relative;
    transition: 0.5s;
  }
}

.legend {
  top: 45%;
  bottom: 1;
}

.mobile-menu {
  display: flex;
  justify-content: center;
}

.advantage {
 
  color: #ffffff;
  padding: 50px;
  p {
    font-size: 20px;
  }
  .writecopy {
    padding: 30px;
    p {
      line-height: 2;
      @media screen and (max-width:#{$phone-width}) {
        line-height: 2;
      }
    }
  }
  .why {
    font-size: 30px;
    color: #fff;
    text-align: center;
  }
  .graduationcap {
    font-size: 50px;
  }
  .line {
    width: 200px;
    height: 2px;
    background-color: lightgray;
    border-radius: 5px;
    margin: 20px 10px;
  }
  &_icon {
    font-size: 50px;
    color: #fff;
    outline: #fff;
    margin: 10px;
    ::before,
    ::after {
      stroke-width: 1;
      stroke: #ffffff;
    }
  }
  &_lefttab,
  &_righttab {
    padding: 10px;
    // @media screen and  (max-width:#{$phone-width}) {
    //   flex-direction: column;
    // }
  }
  &_icon > path {
    stroke: #ffffff !important;
    stroke-width: 1;
  }
  &-subtitle {
    font-size: 30px;
  }
  @media screen and (max-width:#{$phone-width}) {
    padding: 5px;
  }
}

.course-card {
  overflow: hidden;
  width: 400px;
 
  .coursetitle {
    color: #083b6b;
    font-size: 35px;
    font-weight: bolder;
  }
  .coursetext {
    color: #083b6b;
    font-size: 22px;
    font-weight: bold;
  }
  .courseprice,.learnmore {
    color: #083b6b;
    font-size: 20px;
    font-weight: bold;
  }
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 7px 24px 0 rgba(29, 43, 95, 0.06);
  .image-wrapper {
    position: relative;
    height: 250px;
    overflow: hidden;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    .course-image {
      display: inline-block;

      max-width: 100%;
    }
  }
}
.page-main-content{padding: 0 40px; background-image: radial-gradient(circle, #083b6b, #092038);}
.course-main-content {
  padding: 38px 2vw 34px;
  .divider {
    height: 2px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #eef0f5;
  }
}
.trending-section{padding: 0 40px;.trending-Image{object-fit: contain;}&-header{border-radius: 24px;margin: 20px 00;}&-title-text{border-radius:0 24px 24px 0;background-color: #fff;}h2{font-size: 60px;padding:0 20px}}



