@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Inter:wght@300&display=swap");
* {
  border: 1px solid red;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: "bold";
}

.link {
  margin: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.hamburger {
  transition: 1s;
  cursor: pointer;
  position: relative;
  padding: 20px;
}
.hamburger.open .hamburger-bar:nth-child(1) {
  transform: rotate(-45deg) translateX(-7px);
}
.hamburger.open .hamburger-bar:nth-child(2) {
  transform: translate(50px);
  opacity: 0;
}
.hamburger.open .hamburger-bar:nth-child(3) {
  transform: rotate(45deg) translateX(-6px);
}
.hamburger .hamburger-bar {
  background-color: #333;
  width: 30px;
  height: 2px;
  margin: 3px;
  position: relative;
  transition: 0.5s;
}

.legend {
  top: 45%;
  bottom: 1;
}

.mobile-menu {
  display: flex;
  justify-content: center;
}

.advantage {
  color: #ffffff;
  padding: 50px;
}
.advantage p {
  font-size: 20px;
}
.advantage .writecopy {
  padding: 30px;
}
.advantage .writecopy p {
  line-height: 2;
}
@media screen and (max-width: 500px) {
  .advantage .writecopy p {
    line-height: 2;
  }
}
.advantage .why {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.advantage .graduationcap {
  font-size: 50px;
}
.advantage .line {
  width: 200px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 20px 10px;
}
.advantage_icon {
  font-size: 50px;
  color: #fff;
  outline: #fff;
  margin: 10px;
}
.advantage_icon ::before,
.advantage_icon ::after {
  stroke-width: 1;
  stroke: #ffffff;
}
.advantage_lefttab, .advantage_righttab {
  padding: 10px;
}
.advantage_icon > path {
  stroke: #ffffff !important;
  stroke-width: 1;
}
.advantage-subtitle {
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  .advantage {
    padding: 5px;
  }
}

.course-card {
  overflow: hidden;
  width: 400px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 7px 24px 0 rgba(29, 43, 95, 0.06);
}
.course-card .coursetitle {
  color: #083b6b;
  font-size: 35px;
  font-weight: bolder;
}
.course-card .coursetext {
  color: #083b6b;
  font-size: 22px;
  font-weight: bold;
}
.course-card .courseprice,
.course-card .learnmore {
  color: #083b6b;
  font-size: 20px;
  font-weight: bold;
}
.course-card .image-wrapper {
  position: relative;
  height: 250px;
  overflow: hidden;
  transform: translate(0px, 0px);
}
.course-card .image-wrapper .course-image {
  display: inline-block;
  max-width: 100%;
}

.page-main-content {
  padding: 0 40px;
  background-image: radial-gradient(circle, #083b6b, #092038);
}

.course-main-content {
  padding: 38px 2vw 34px;
}
.course-main-content .divider {
  height: 2px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #eef0f5;
}

.trending-section {
  padding: 0 40px;
}
.trending-section .trending-Image {
  -o-object-fit: contain;
     object-fit: contain;
}
.trending-section-header {
  border-radius: 24px;
  margin: 20px 0;
}
.trending-section-title-text {
  border-radius: 0 24px 24px 0;
  background-color: #fff;
}
.trending-section h2 {
  font-size: 60px;
  padding: 0 20px;
}

.single-course-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: auto;
  width: 100%;
  background-color: #fff;
  font-family: sans-serif;
  color: #083b6b;
  font-size: 20px;
}

.single-course-inner {
  display: flex;
  width: 90%;
}

.single-course-content {
  flex: 1;
  width: 100%;
}

.single-course-content > div {
  width: 60%;
}

.single-course-content > div h1 {
  color: #1d2b5f;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  line-height: 1.1em;
}

.single-course-content > div > p {
  width: 60%;
  font-size: 24px;
  font-weight: 600;
}

.single-course-content-two {
  width: 330px;
  flex-shrink: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 7px 24px 0 rgba(29, 43, 95, 0.06);
  padding: 10px 8px;
}

.single-course-content-two .header {
  font-weight: 700;
  font-size: 30px;
  color: #083b6b;
  margin: 5px 0;
}

.single-course-content-two .content {
  margin: 5px 0;
}

.course-amount {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.course-amount .amount {
  font-size: 28px;
  font-weight: bold;
  color: #083b6b;
  display: block;
}

.discount {
  text-decoration: line-through;
}

.select-course {
  min-height: 70px;
  margin-bottom: 0px;
  padding-right: 18px;
  padding-left: 16px;
  border: 3px solid #000;
  background-color: #fff;
  color: #1d2b5f;
  font-size: 18px;
  line-height: 1em;
  width: 100%;
}

.course-cart-button {
  background-color: #083b6b;
  color: #fff;
  border-radius: 80px;
  font-size: 1.2em;
  width: 100%;
  padding: 20px 14px;
  border: unset;
  transform-style: preserve-3d;
  transition: box-shadow 350ms ease, transform 350ms ease;
  line-height: 1em;
  font-weight: 700;
  font-family: Manrope, sans-serif !important;
  text-align: center;
  margin: 20px 0;
}

.course-cart-button:hover {
  transform: scale(1.054);
}/*# sourceMappingURL=globals.css.map */